<?php
define('DB_HOST', {{ mutillidae_db_host | to_json }});
define('DB_USERNAME', {{ mutillidae_db_user | to_json }});
define('DB_PASSWORD', {{ mutillidae_db_password | to_json }});
define('DB_NAME', {{ mutillidae_db_name | to_json }});
define('DB_PORT', {{ mutillidae_db_port }});
?>
