<VirtualHost *:80>
    ServerName mutillidae.localhost
    ServerAlias www.mutillidae.localhost mutillidae
    DocumentRoot {{ mutillidae_web_root }}

    <Directory {{ mutillidae_web_root }}>
        DirectoryIndex index.php
        AllowOverride All
        Options +Indexes +FollowSymLinks +MultiViews
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/mutillidae-error.log
    CustomLog ${APACHE_LOG_DIR}/mutillidae-access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName mutillidae.localhost
    ServerAlias www.mutillidae.localhost mutillidae
    DocumentRoot {{ mutillidae_web_root }}

    <Directory {{ mutillidae_web_root }}>
        DirectoryIndex index.php
        AllowOverride All
        Options +Indexes +FollowSymLinks +MultiViews
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/mutillidae-error.log
    CustomLog ${APACHE_LOG_DIR}/mutillidae-access.log combined

    SSLEngine On
    SSLOptions +StrictRequire
    SSLCertificateFile /etc/ssl/mutillidae/mutillidae-selfsigned.crt
    SSLCertificateKeyFile /etc/ssl/mutillidae/mutillidae-selfsigned.key
    SSLProtocol -all +TLSv1.2 +TLSv1.3
    Protocols h2 http/1.1
</VirtualHost>

<VirtualHost *:80>
    ServerName cors.mutillidae.localhost
    ServerAlias webservice.mutillidae.localhost api.mutillidae.localhost
    DocumentRoot {{ mutillidae_web_root }}

    <Directory {{ mutillidae_web_root }}>
        DirectoryIndex index.php
        AllowOverride All
        Options +Indexes +FollowSymLinks +MultiViews
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/cors-mutillidae-error.log
    CustomLog ${APACHE_LOG_DIR}/cors-mutillidae-access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName cors.mutillidae.localhost
    ServerAlias webservice.mutillidae.localhost api.mutillidae.localhost
    DocumentRoot {{ mutillidae_web_root }}

    <Directory {{ mutillidae_web_root }}>
        DirectoryIndex index.php
        AllowOverride All
        Options +Indexes +FollowSymLinks +MultiViews
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/cors-mutillidae-error.log
    CustomLog ${APACHE_LOG_DIR}/cors-mutillidae-access.log combined

    SSLEngine On
    SSLOptions +StrictRequire
    SSLCertificateFile /etc/ssl/mutillidae/mutillidae-selfsigned.crt
    SSLCertificateKeyFile /etc/ssl/mutillidae/mutillidae-selfsigned.key
    SSLProtocol -all +TLSv1.2 +TLSv1.3
    Protocols h2 http/1.1
</VirtualHost>
